.login{
  margin: 40px auto;
}

.login__title{
  color: #461155;
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 600px;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

input{
  margin-top: 5px;
  padding: 5px 8px;
  border: 1px solid #461155;
  border-radius: 5px;
  outline: none;
}
label{
  color: #461155;
}

.form-btn{
  width: 120px;
  margin: 10px auto;
  padding: 7px 10px;
  border: 1px solid #794287;
  background: transparent;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-btn:hover{
  background: #794287;
  color: #c1fcf5;
}

small{
  color: red;
}

.form-group__input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.form-group__input.ng-valid.ng-touched{
  border: 1px solid green;
}
