<div class="registration">
  <h2 class="registration__title">Registration</h2>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-group__input" id="name" type="text" formControlName="name">
      <div class="validation" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
        <small class="alert">The field is required</small>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-group__input" id="email" type="email" formControlName="email">
      <div class="validation" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
        <small class="alert">The field must be an email</small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-group__input" id="password" type="password" formControlName="password">
      <div class="validation" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
        <small class="alert">The field is required</small>
      </div>
    </div>
    <div class="form-group">
      <label for="confirm-password">Repeat password</label>
      <input class="form-group__input" id="confirm-password" type="password" formControlName="confirmPassword">
      <div class="validation" *ngIf="form.hasError('notSame')">
        <small class="alert">The password will be match</small>
      </div>
    </div>
    <button class="form-btn" type="submit">Registration</button>
  </form>
</div>
