<nav class="header__inner">
  <ul class="menu-list">
    <li class="menu-list__item"><a routerLink="/blog" routerLinkActive="active" class="menu-list__link">Blog</a></li>
    <li class="menu-list__item"><a routerLink="/chat" routerLinkActive="active" class="menu-list__link">Chat</a></li>
    <li class="menu-list__item"><a routerLink="/game" routerLinkActive="active" class="menu-list__link">Game</a></li>
    <li class="menu-list__item"><a routerLink="/plane" routerLinkActive="active" class="menu-list__link">Plane</a></li>
  </ul>
  <ul class="auth-list"><li class="auth-list__item"><a class="auth-list__link">LogIn</a></li>
    <li class="auth-list__item"><a class="auth-list__link">Registration</a></li>
  </ul>
</nav>

