<section class="blog">
  <div class="blog__wrapper">
    <div class="posts">
      <app-post [postsFromServer]="posts"></app-post>
      <app-add-post-form></app-add-post-form>
    </div>
    <div class="categories">
      <ul class="categories__list">
<!--        <li class="categories__item"><a href="" class="categories__link">Category 1</a></li>-->
<!--        <li class="categories__item"><a href="" class="categories__link">Category 2</a></li>-->
<!--        <li class="categories__item"><a href="" class="categories__link">Category 3</a></li>-->
<!--        <li class="categories__item"><a href="" class="categories__link">Category 4</a></li>-->
<!--        <li class="categories__item"><a href="" class="categories__link">Category 5</a></li>-->
      </ul>
    </div>
  </div>
</section>
